doctype
html
  head
    title = "Testing Template"
  body
    h1 JSON Object Type
    p #{json}
    h1 Iterating over JSON object & printing name: value
    for key, index in json
        p #{index}:  #{key} 
